[
  {
    "name": "${app_name}",
    "image": "${aws_ecr_repository}:${tag}",
    "cpu": 1024,
    "memory": 2048,
    "networkMode": "awsvpc",
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "${region}",
        "awslogs-stream-prefix": "/aws/ecs",
        "awslogs-group": "${awslogs_group}"
      }
    },
    "portMappings": [
      {
        "containerPort": ${container_port},
        "hostPort": ${host_port}
      }
    ]
  }
]